In [1]:
import os
import numpy as np
import pandas as pd
import scipy

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [5]:
FILE_PATH_1 = "./data/task6/motor_control_tracking_task6.csv"
FILE_PATH_2 = "./data/task6/imu_tracking_task6.csv"
FILE_PATH_3 = "./data/task6/camera_tracking_task6.csv"

FIGURES_FOLDER = "./figures/task_6/"
if not os.path.exists(FIGURES_FOLDER):
    os.makedirs(FIGURES_FOLDER)

In [6]:
df_motor = pd.read_csv(FILE_PATH_1, header=None)#, names=col_names)
df_imu = pd.read_csv(FILE_PATH_2, header=None)#, names=col_names)
df_cam = pd.read_csv(FILE_PATH_3, header=None)#, names=col_names)

In [7]:
df_motor

                0    1     2
0    1.603875e+09  0.3  0.30
1    1.603875e+09  0.3  0.30
2    1.603875e+09  0.3  0.18
3    1.603875e+09  0.3  0.30
4    1.603875e+09  0.3  0.30
..            ...  ...   ...
264  1.603875e+09  0.3  0.18
265  1.603875e+09  0.3  0.18
266  1.603875e+09  0.3  0.18
267  1.603875e+09  0.3  0.30
268  1.603875e+09  0.3  0.30

[269 rows x 3 columns]